@using Amortization.Application.Constants
<div class="navbar-inner">
    <div class="navbar-intro justify-content-xl-between">
        <a class="navbar-brand text-white" href="#">
            <span>@GlobalConstants.CompanyName</span>
        </a>
    </div>
    <div class="navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">
        <div class="navbar-nav">
            <ul class="nav">
            </ul>
        </div>
    </div>
</div>